version: '3.8'
services:
  db:
    image: postgres:15
    container_name: pg-bank
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-bankdb}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/initdb:/docker-entrypoint-initdb.d:ro
    ports:
      - "5432:5432"
volumes:
  pgdata:
    driver: local
